/*--------------------------------------------------------------
# Archives
--------------------------------------------------------------*/

/* Header */

.archive{

.page-header {
    margin-top: $base__space-unit * 1.5;
    justify-content: center;
}

.product-header-container {
  justify-content: center;
  width: 80%;
  margin-top: 5rem;
  margin-left: 7rem;

  h1 {
    text-transform: uppercase;
    font-family: 'Novecento';
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.4rem;
  }

  a {
    color: #248a83;
    justify-content: center;
    display: inline-flex;
  }

  a:visited{
    color: #248a83;
  }

}

.product-tax {
  width: 70%;
  margin-left: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: $base__space-unit * 2;
  border-bottom: 1px dashed #d1d1d1;
  padding-bottom: 2.5rem;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    margin: 3rem 0rem 3rem 10rem;
   }
  }
}


/* Archives */

.archive {
  p {
    text-align: center;
  }

  .product-grid {
    width: 1200px;
    margin-left: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .hentry {
      width: auto;
    }

    .product-thumbnail-wrapper {
      height: 250px;
      width: 265px;
      overflow: hidden;
      position: relative;
      border: 1px solid #d1d1d1;
  
    img {
      object-fit: cover;
      width: 265px;
      height: 250px;
    }
  }
}

.product-info {
  width: 265px;
  height: auto;
  border: 1px solid #d1d1d1;
  }

  h2.product-title {
    font-size: 1rem;
    font-family: 'Merriweather';
    font-weight: 400;
    padding: 4px;
  }

  span.product-price, h2.product-title {
    background-color: #fff;
    text-transform: none;
    text-decoration: none;
  }
}
