/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.link-button {
  background: #fff;
  border: 1px solid #000;
  padding: 0.75rem $base__space-unit;
  text-transform: uppercase;
  font-family: $font__entry-button;
  font-size: 0.9rem;
  line-height: 1;
}