/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Basic */

.container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}

/* About */

h1 {
	color: #fff;
	font-family: 'Novecento';
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
}

.entry-header {
	justify-content: center;
	align-content: center;
}

.entry-content {
	justify-content: center;
	max-width: 800px;
	margin: $base__space-unit * 3 auto;
	line-height: 1.75rem;

h2 {
	text-align: center;
	font-size: 2.1rem;
	font-family: 'Novecento';
	}
}

/* Posts and pages */

.site-main {
	display: block;
	align-content: center;
	justify-content: center;

	.product-type-block-wrapper{
		border: 10px;
	}
}

.site-content {
	width: 100%;
	padding-top: 1rem;
}

.product-shop container {
	position: center;	
	justify-content: center;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Product Types */



/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
