/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Basic */

.container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}

/* About */

.page-template-about {
h1 {
	color: #fff;
	font-family: 'Novecento';
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	}
}

.page-template-default {
	h1 {
		display: none;
	}
}

.entry-content {
	justify-content: center;
}

.entry-header {
	justify-content: center;
	align-content: center;
}

.entry-content {
	justify-content: center;
	max-width: 800px;
	margin: $base__space-unit * 3 auto;
	line-height: 1.75rem;

h2 {
	text-align: center;
	font-size: 2.1rem;
	font-family: 'Novecento';
	}
}

/* Product Stuff Page */

.product-wrapper {
	margin-top: $base__space-unit * 2; 

	.product-picture {
		width: 50%;
		margin-right: $base__space-unit * 2;
	}

	.entry-content {
		width: 50%;
		margin: 0;

		h1, .product-price {
			font-family: 'Novecento';
			text-transform: uppercase;
		}

		.product-price {
			font-size: 1.8rem;
			margin: 0.5rem 0 $base__space-unit 0;
		}
		
		h1 {
			margin: 0;
			color: $color__footer-h1;
			font-size: 2.4rem;
		}

		&__p-product {
			margin-bottom: 1rem;
		}
	}

}

/* Single Product Page */

// .product-container {
// 	background-color: tomato;
// 	display: flex;
// 	margin-top: 100px;

// .product-wrapper {
// 	background-color: skyblue;
// 	display: flex;

// 	.product-picture {
// 		width: 50%;
// 		margin-right: $base__space-unit * 2;
// 	}

// 	.entry-content {
// 		width: 50%;
// 		margin: 0;

// 		h1, .product-price {
// 			font-family: 'Novecento';
// 			text-transform: uppercase;
// 		}

// 		.product-price {
// 			font-size: 1.8rem;
// 			margin: 0.5rem 0 $base__space-unit 0;
// 		}
		
// 		h1 {
// 			margin: 0;
// 			color: $color__footer-h1;
// 			font-size: 2.4rem;
// 		}

// 		&__p-product {
// 			margin-bottom: 1rem;
// 		}
// 	}
// }
// }

/* Posts and pages */

.site-header {
	background: transparent;
}

.site-main {
	display: block;
	align-content: center;
	justify-content: center;

	.product-type-block-wrapper{
		border: 10px;
	}
}

.site-content {
	width: 100%;
}

.product-shop container {
	position: center;	
	justify-content: center;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Journal Page */

.content-area {
	padding: 3rem 5% 3rem 9rem;
	width: 73%;
	border-right: 1px solid $color__background-hr;

	.entry-header {
		justify-content: center;

		a {
			background: #248A83;
			width: 500px;
			color: white;
			padding: .5rem;
			font-size: 2.1rem;

			a:visited{
				color: $color__link;
			}
		}

		p {
			width: 760px;
		}

		// body:not(.search):not(.home):not(.page-template-default):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure):not(.page-template-about) .entry-header {
		// 	position: relative;
		
		// 	img {
		// 		width: 100%;
		// 	}

		.entry-title, .entry-meta {
			position: relative;
			background-color: $color__link;
			color: $color__background-body;
			font-family: Novecento,sans-serif;
	
			a {
				color: $color__background-body;
				text-decoration: none;
	
				&:hover {
					color: $color__background-ins;
				}
			}
		}

		.entry-title {
			top: 0;
			left: 0;
			padding: 0.50rem 1.5rem;
			width: 75%;
			margin-top: 2.25rem;
			font-size: 2.35rem;
			line-height: $font__line-height-entry;
		}
	
		.entry-meta {
			bottom: 0;
			right: 0;
			margin-bottom: 0.4rem;
			padding: 0.25rem 1.5rem;
			width: 50%;
		}

		img {
			width: 760px;
			height: 520px;
		}
	}
}



/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
