/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Basic */

.container {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
}

/* About */

.page-template-about {
h1 {
	color: #fff;
	font-family: 'Novecento';
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	}
}

.page-template-default {
	h1 {
		display: none;
	}
}

.entry-content {
	justify-content: center;
}

.entry-header {
	justify-content: center;
	align-content: center;
}

.entry-content {
	justify-content: center;
	max-width: 800px;
	margin: $base__space-unit * 3 auto;
	line-height: 1.75rem;

h2 {
	text-align: center;
	font-size: 2.1rem;
	font-family: 'Novecento';
	}
}

/* Product Stuff Page */

.product-wrapper {
	margin-top: $base__space-unit * 2; 

	.product-picture {
		width: 50%;
		margin-right: $base__space-unit * 2;
	}

	.entry-content {
		width: 50%;
		margin: 0;

		h1, .product-price {
			font-family: 'Novecento';
			text-transform: uppercase;
		}

		.product-price {
			font-size: 1.8rem;
			margin: 0.5rem 0 $base__space-unit 0;
		}
		
		h1 {
			margin: 0;
			color: $color__footer-h1;
			font-size: 2.4rem;
		}

		&__p-product {
			margin-bottom: 1rem;
		}
	}

}

/* Single Product Page */

.product-wrapper {
	background-color: skyblue;
	display: flex;

	.product-picture {
		width: 50%;
		margin-right: $base__space-unit * 2;
	}

	.entry-content {
		width: 50%;
		margin: 0;

		h1, .product-price {
			font-family: 'Novecento';
			text-transform: uppercase;
		}

		.product-price {
			font-size: 1.8rem;
			margin: 0.5rem 0 $base__space-unit 0;
		}
		
		h1 {
			margin: 0;
			color: $color__footer-h1;
			font-size: 2.4rem;
		}

		&__p-product {
			margin-bottom: 1rem;
		}
	}

}

/* Posts and pages */

.site-main {
	display: block;
	align-content: center;
	justify-content: center;

	.product-type-block-wrapper{
		border: 10px;
	}
}

.site-content {
	width: 100%;
}

.product-shop container {
	position: center;	
	justify-content: center;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Product Types */



/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
