/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/6a7a6e613a1cd5a423e84a9f36d88414.woff2') format('woff2'), url('../../fonts/6a7a6e613a1cd5a423e84a9f36d88414.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/27feaa92c1aeec22b14ff284d773a009.woff2') format('woff2'), url('../../fonts/27feaa92c1aeec22b14ff284d773a009.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/novecento_sans_widedemibold.woff2') format('woff2'), url('../../fonts/novecento_sans_widedemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/novecento_sans_widenormal.woff2') format('woff2'), url('../../fonts/novecento_sans_widenormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/6f80de174d578c6b039d26d9d0420f3e.woff2') format('woff2'), url('../../fonts/6f80de174d578c6b039d26d9d0420f3e.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/a3c91170d21ccc284e02e155dd3556d7.woff2') format('woff2'), url('../../fonts/a3c91170d21ccc284e02e155dd3556d7.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/7f9ccb9e8c4b8d70df6a2bc0734a72ac.woff2') format('woff2'), url('../../fonts/7f9ccb9e8c4b8d70df6a2bc0734a72ac.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/ccbe30495b51c0e98dd848ba54c1916e.woff2') format('woff2'), url('../../fonts/ccbe30495b51c0e98dd848ba54c1916e.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather-Light.woff2') format('woff2'), url('../../fonts/Merriweather-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather-BoldItalic.woff2') format('woff2'), url('../../fonts/Merriweather-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather-LightItalic.woff2') format('woff2'), url('../../fonts/Merriweather-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather-Bold.woff2') format('woff2'), url('../../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}