/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	height: 50px;
	width: 100%;
	padding: 2px;
	justify-content: space-between;

	img {
		position: relative;
	}

	ul {
		display: inline-flex;
		list-style: none;
		margin: 0;
		margin-right: $base__space-unit;
		

		ul {
			display: flex;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;
				
				ul {
					left: -999rem;
					top: 0;
				}
	
				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
	
				a {
					width: 200px;
				}
			}
	
			li:hover > ul,
			li.focus > ul {
				left: auto;
			 }
	}
	li {
		position: relative;
		}
	} 

	.site-branding {

		width: 50px;
		height: 50px
	}

	.site-title {
		width: 50px;
		height: 50px;
	}
	// <-----endof main nav ------>

	a {
		display: flex;
		text-decoration: none;
		font-family: 'Novecento';
		text-transform: uppercase;
		padding-right: 10px;
		color: white;
	}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}