/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*  Front Page Styles  */

.product-shop.container, .recent-journals.container {
	margin-bottom: 4.5rem;
}

/* Hero Banner */

.front-page-hero {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url('../../images/home-hero.jpg')no-repeat center;
  background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

		img {
			// background: url('../../images/logos/inhabitent-logo-full.svg') no-repeat center;
			height: 275px;
			width: 275px;
		}
}

/* Shop Stuff Categories */

.product-info-container {
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 100%;
	padding-left: 10rem;
	padding-right: 10rem;


	h2 {
		font-family: 'Novecento';
		text-transform: uppercase;
		text-align: center;
		font-size: $base__space-unit * 1.5;
		font-weight: normal;
		letter-spacing: 4px;
		margin: $base__space-unit * 2.5 0;
	}
}

.product-type-blocks {
	display: flex;
	justify-content: space-between;

	.product-type-block-wrapper {
		flex-flow: column nowrap;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		width: 265px;
		padding: 12px;	
		border: 1px solid $color__background-hr;
		border-top-width: 5px;
		margin: 0;

		img {
			width: 70px;
			height: 70px;
		}

		p {
			display: flex;
			align-content: center;
			justify-content: center
		}
	
		a.btn {
			background: #248a83;
			width: 180px;
			height: 40px;
			color: #fff;
			justify-content: center;
			cursor: pointer;
			font-family: Novecento Sans Web,sans-serif;
			font-size: 14.4px;
			font-size: .9rem;
			line-height: 1;
			padding: .75rem 1.5rem;
			text-transform: uppercase;
		}
	}
}

/* --------- Journals -------------*/


.latest-entries {

	h2 {
		text-align: center;
		font-family: 'Novecento';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
	}

	h3 {
		font-family: 'Novecento';
		margin: none;
		line-height: 1.5em;
	}

	a {
		font-size: 1.25rem;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.most-recent-journals {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-left: 10rem;
	padding-right: 10rem;
}

.journal-recent-block-item {
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid #d1d1d1;
	width: 32.5%;

	a {
		font-size: 1.4rem;
	}

	img {
		height: 250px;
		border-bottom: 5px solid #d1d1d1;
	}

	.entry-wrapper {
		height: 100%;
		padding: 0.75rem;

		.entry-meta {
			font-size: $base__space-unit / 2;
		}
	}

	.entry-readmore {
		width: 40%;
		margin: 0.75rem;
		padding: 0.75rem;
		text-align: center;

			a{
				font-size: 14px;
				justify-content: center;
			}
	}
}